{{ 'bundle-landing.css' | asset_url | stylesheet_tag }}
<!-- <div id="viewmessage">This page is only visible on desktop and screens larger than 1000 pixels.</div> -->
<div id="twenty-off">
  <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/Instantly-get-background.png?18044340441732841384">
  <h6 class="gotham-medium">Instantly Get <br><span class="gotham-black">$20 Off</span> </h6>
  <span id="click">Click Here</span>
</div>

<div id="paypal-credit-tab">
  <img src="https://cdn.shopify.com/s/files/1/0578/7201/files/paypal_background_1.png?18044340441732841384">
  <h6 id="sub-text" class="gotham-medium"><span id="sub-text-1">NO PAYMENTS OR INTEREST FOR 6 MONTHS</span><!--<span id="sub-text-2">Check out with Paypal and</span><span id="sub-text-3">choose Paypal Credit</span>--><a id="sub-text-terms" href="https://www.securecheckout.billmelater.com/paycapture-content/fetch?hash=AU826TU8&content=/bmlweb/ppwpsiw.html" target="_blank">See terms</a>
</div>

<div id="twenty-off-form">

  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup" class="bundle-form">
  <form action="https://deltachildren.us8.list-manage.com/subscribe/post?u=80ec84eee53425122429cd899&amp;id=33b2a621ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
  <div class="indicates-required"></div>
  <div class="mc-field-group">
  	<label for="mce-EMAIL" class="gotham-medium dark-blue" style="display: inline; padding-top: 8px; font-weight: 600;">Email Address:</label>
  	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style="display: inline; width: 50%; margin-left: 127px;">
    <a id='pp' href="https://www.deltachildren.com/pages/privacy-policy">Privacy Policy</a>
  </div>
  <div class="mc-field-group input-group who">
      <strong class="gotham-medium dark-blue">Who are you purchasing this for: </strong>
      <ul class="gotham-book light-blue"><li><input type="radio" value="You" name="MMERGE1" id="mce-MMERGE1-0"><label for="mce-MMERGE1-0">You</label></li>
  <li><input type="radio" value="Friend" name="MMERGE1" id="mce-MMERGE1-1"><label for="mce-MMERGE1-1">Friend</label></li>
  <li><input type="radio" value="Relative:" name="MMERGE1" id="mce-MMERGE1-2"><label for="mce-MMERGE1-2">Relative:</label>
    <div class="mc-field-group hidden" id="who-relative">
      <label for="mce-MMERGE5"></label>
      <input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5" placeholder="Relationship to Recipient" style="width: 200px;">
    </div>
  </li>

  <li><input type="radio" value="Other:" name="MMERGE1" id="mce-MMERGE1-3"><label for="mce-MMERGE1-3">Other:</label>
    <div class="mc-field-group hidden" id="who-other">
      <label for="mce-MMERGE6"></label>
      <input type="text" value="" name="MMERGE6" class="" id="mce-MMERGE6">
    </div>
  </li>
  </ul>
  </div>


  <div class="mc-field-group input-group">
      <strong class="gotham-medium dark-blue">Which trimester is the recipient in: </strong>
      <ul class="gotham-book light-blue"><li><input type="radio" value="1st Trimester" name="MMERGE2" id="mce-MMERGE2-0"><label for="mce-MMERGE2-0">1st Trimester</label></li>
  <li><input type="radio" value="2nd Trimester" name="MMERGE2" id="mce-MMERGE2-1"><label for="mce-MMERGE2-1">2nd Trimester</label></li>
  <li><input type="radio" value="3rd Trimester" name="MMERGE2" id="mce-MMERGE2-2"><label for="mce-MMERGE2-2">3rd Trimester</label></li>
  </ul>
  </div>
  <div class="mc-field-group input-group has">
      <strong class="gotham-medium dark-blue">Has the recipient already purchased any of the below items: </strong>
      <ul class="gotham-book light-blue" id="q-recipient"><li><input type="checkbox" value="1" name="group[12349][1]" id="mce-group[12349]-12349-0"><label for="mce-group[12349]-12349-0">Bassinet</label></li>
<li><input type="checkbox" value="2" name="group[12349][2]" id="mce-group[12349]-12349-1"><label for="mce-group[12349]-12349-1">Play Yard</label></li>
<li><input type="checkbox" value="4" name="group[12349][4]" id="mce-group[12349]-12349-2"><label for="mce-group[12349]-12349-2">Stroller</label></li>
<li><input type="checkbox" value="8" name="group[12349][8]" id="mce-group[12349]-12349-3"><label for="mce-group[12349]-12349-3">Car Seat</label></li>
<li><input type="checkbox" value="16" name="group[12349][16]" id="mce-group[12349]-12349-4"><label for="mce-group[12349]-12349-4">Baby Monitor</label></li>
<li><input type="checkbox" value="32" name="group[12349][32]" id="mce-group[12349]-12349-5"><label for="mce-group[12349]-12349-5">Onesies</label></li>
<li><input type="checkbox" value="64" name="group[12349][64]" id="mce-group[12349]-12349-6"><label for="mce-group[12349]-12349-6">Diapers</label></li>
<li><input type="checkbox" value="128" name="group[12349][128]" id="mce-group[12349]-12349-7"><label for="mce-group[12349]-12349-7">High Chair</label></li>
<li><input type="checkbox" value="256" name="group[12349][256]" class="has-other-q" id="mce-group[12349]-12349-8"><label for="mce-group[12349]-12349-8">Other:</label>
    <div class="mc-field-group hidden" id="has-other">
      <label for="mce-MMERGE3"></label>
      <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
    </div>
  </li>

  <li><input type="checkbox" value="512" name="group[12349][512]" id="mce-group[12349]-12349-9"><label for="mce-group[12349]-12349-9">None of the Above</label></li>
  </ul>
  </div>

  <div class="mc-field-group input-group how">
      <strong class="gotham-medium dark-blue">How did you hear about us: </strong>
      <ul class="gotham-book light-blue"><li><input type="radio" value="In-store:" name="MMERGE4" id="mce-MMERGE4-0"><label for="mce-MMERGE4-0">In-store:</label>
        <div class="mc-field-group hidden" id="how-in">
          <label for="mce-MMERGE7"></label>
          <input type="text" value="" name="MMERGE7" class="" id="mce-MMERGE7" placeholder="Name of Store">
        </div>
      </li>

  <li><input type="radio" value="Google or Other Search Engine" name="MMERGE4" id="mce-MMERGE4-1"><label for="mce-MMERGE4-1">Google or Other Search Engine</label></li>
  <li><input type="radio" value="Friend or Family" name="MMERGE4" id="mce-MMERGE4-2"><label for="mce-MMERGE4-2">Friend or Family</label></li>
  <li><input type="radio" value="Social Media" name="MMERGE4" id="mce-MMERGE4-3"><label for="mce-MMERGE4-3">Social Media</label></li>
  <li><input type="radio" value="Other:" name="MMERGE4" id="mce-MMERGE4-4"><label for="mce-MMERGE4-4">Other:</label>
    <div class="mc-field-group hidden" id="how-other">
      <label for="mce-MMERGE8"></label>
      <input type="text" value="" name="MMERGE8" class="" id="mce-MMERGE8">
    </div>
  </li>
  </ul>
  </div>

  	<div id="mce-responses" class="clear">

  		<div class="response" id="mce-error-response" style="display:none"></div>
  		<div class="response" id="mce-success-response">
  </div>
  	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_80ec84eee53425122429cd899_33b2a621ae" tabindex="-1" value=""></div>
      <div class="clear" style="text-align: center; right: 3%; position: relative;"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
      <div id="success-message" class="gotham-book dark-blue">Congratulations on Earning $20 Off Your Nursery Set!<iframe id="coupon-link" src=""></iframe><a id="coupon-shop-now" href="/pages/bundles">Shop Now</a></div>

  </form>
  </div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='radio';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[2]='MMERGE2';ftypes[2]='radio';fnames[3]='MMERGE3';ftypes[3]='radio';fnames[7]='MMERGE7';ftypes[7]='text';fnames[4]='MMERGE4';ftypes[4]='radio';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  <!--End mc_embed_signup-->

<script>
   $(function() {

     //function script for mailchimp form
     styleInputs();
     addEmailtoCoupon();


     //FUNCTION OBJECTS FOR MAILCHIMP Form

     //styles text inputs for various questions in mailchimp form
     function styleInputs(){
       //who-relative
       $('.bundle-form #mce-MMERGE1-2').click(function(){
         $('.bundle-form #who-relative').show().css('display','inline');
         $('.bundle-form .who input').not($(this)).not(".bundle-form #who-relative input").click(function(){
           $('#who-relative').hide();
         });
       });
       //who-other
       $('.bundle-form #mce-MMERGE1-3').click(function(){
         $('.bundle-form #who-other').show().css('display','inline');
         $('.bundle-form .who input').not($(this)).not(".bundle-form #who-other input").click(function(){
           $('.bundle-form #who-other').hide();
         });
       });
       //has-other
       $('.bundle-form .has-other-q').change(function(){

         $('.bundle-form #has-other').show().css('display','inline');
        });
       //how-in
       $('.bundle-form #mce-MMERGE4-0').click(function(){
         $('.bundle-form #how-in').show().css('display','inline');
         $('.bundle-form .how input').not($(this)).not(".bundle-form #how-in input").click(function(){
           $('.bundle-form #how-in').hide();
         });
       });
       //how-other
       $('.bundle-form #mce-MMERGE4-4').click(function(){
         $('.bundle-form #how-other').show().css('display','inline');
         $('.bundle-form .how input').not($(this)).not(".bundle-form #how-other input").click(function(){
           $('.bundle-form #how-other').hide();
          });
        });
      }

     //adds email address entered to coupon code after submit, styles error and success statements
     function addEmailtoCoupon(){
       $(".bundle-form #success-message").hide();
       $('.bundle-form #mce-success-response').css('color', 'white');
       $('.bundle-form #mce-error-response').css('color', 'white');
       $('.bundle-form #mc-embedded-subscribe-form').submit(function(){
         $('.bundle-form #mce-success-response').css('color', 'white');
					$('.bundle-form #mce-error-response').css('color', 'white');

         email = $('.bundle-form #mce-EMAIL').val();
         couponUrl = "https://api.couponcarrier.io/r/ZA2exrNW?email=" + email;
         $('.bundle-form #coupon-link').attr('src', couponUrl);
         setTimeout(function () {
           if($('.bundle-form #mce-success-response').css('display') === 'block'){
             $('.bundle-form #mce-success-response').css('color', 'white');
             $(".bundle-form #success-message").show();
             $('#twenty-off-form').css('overflow-y', 'hidden').css('height', '700px');
             // $('#twenty-off-form').css('height', '600px');
             console.log('show coupon code');
            }
            if($('.bundle-form #mce-error-response:contains("Recipient")').css('display') === 'block'){
              $('.bundle-form #mce-error-response').text('This email address has already been registered. Check your email for your $20 off discount code.');
              $('.bundle-form #mce-error-response').css('color', 'red');
              $('.bundle-form #mce-error-response').show();
            }
           	if($('.bundle-form #mce-error-response:contains("update")').css('display') === 'block'){
              $('.bundle-form #mce-error-response').text('This email address has already been registered. Check your email for your $20 off discount code.');
              $('.bundle-form #mce-error-response').css('color', 'red');
              $('.bundle-form #mce-error-response').show();
            }
            if($('.bundle-form #mce-error-response:contains("click here")').css('display') === 'block'){
              $('.bundle-form #mce-error-response').text('This email address has already been registered. Check your email for your $20 off discount code.');
              $('.bundle-form #mce-error-response').css('color', 'red');
              $('.bundle-form #mce-error-response').show();
            }
            $('.bundle-form #mce-error-response').show();
          }, 2000);
        });
      }

    });//end on doc load function

</script>


</div>
<div id="bundle-overlay">
</div>
<div id="furniture-set-container">

  <!-- Title Row -->
  <div class="row" id="ns-title-holder">
    <div class="small-12 medium-12 large-12 columns">
      <h1 id="ns-title" style="text-align: center;" class="gotham-e-light dark-blue">Create Your Own Dream<br><span class="gotham-black">NURSERY FURNITURE SET</span></h1>
      <h4 id="title-sub" class="gotham-book dark-grey">Save Up To 40% on Your Baby Essentials</h4>
      <h6 id="title-sub-sub" class="gotham-book dark-grey"> Crib &bull; Dresser &bull; Glider &bull; Mattress &bull; Guardrail (converts crib to toddler bed) + Add-ons! <span id="learn-pop" class="gotham-book">Learn More ></span> </h6>
    </div>
  </div>
  <div id="ns-pop-up">
    <div id="ns-img-text">
      <span id="ns-close-pop-up">X</span>
      <img class="show-for-small-only" src="//cdn.shopify.com/s/files/1/0578/7201/files/nursery-bundle-landing-page-mobile-03.png">
      <img class="show-for-medium-up" src="//cdn.shopify.com/s/files/1/0578/7201/files/Bundles-landing-page-pop-up-v2.png">
    <div class="ns-pop-up-quarter" id="save-1">
      <h4 class="gotham-black lighter-blue">SAVE UP TO 40%</h4>
      <p class="gotham-book white"><span>Huge savings when you</span><span>shop our 5 piece nursery sets</span><span>&amp; additional baby essentials</span></p>
    </div>
    <div class="ns-pop-up-quarter" id="mix-2">
      <h4 class="gotham-black dark-blue">MIX &amp; MATCH</h4>
      <p class="gotham-book white"><span>Choose the products that</span><span>are right for your family</span><span>and your home</span></p>
    </div>
    <div class="ns-pop-up-quarter" id="free-3">
      <h4 class="gotham-black dark-blue">FREE GIFT</h4>
      <p class="gotham-book white"><span>Every nursery set includes a</span><span>FREE Baby Monitor to keep you</span><span>connected with your baby</span></p>
    </div>
    <div class="ns-pop-up-quarter" id="add-4">
      <h4 class="gotham-black lighter-blue">ADD-ONS:</h4>
      <p class="gotham-book white"><span>Strollers &bull; Baby Gear &bull; Book &amp; Toy</span><span>Organizers &bull; Coordinating Items</span><span>Changing Toppers &amp; much more!</span></p>
    </div>
  </div>
  </div>
  <!-- $799 Banner row -->
  <!-- $799 Banner row -->
  <div class="row" id="seven-banner-container">
    <div class="small-12 medium-12 large-12 columns">
    <div class="banner-holder"><h2 class="ns-banner-text">Browse $799 Nursery Sets</h2><img class="ns-banner" src="https://cdn.shopify.com/s/files/1/0578/7201/files/banner-light-blue-04.png?18044340441732841384"></div>
    </div>
  </div>

  <!-- 799 image-link row -->
  <div class="row" id="seven-img-link-container">
    <div class="arrow-container-right">
      <h6 class="gotham-bold see-more-right">SEE MORE</h6>
      <i class="right-new bundle-arrow"></i>
    </div>

    <div class="arrow-container-left">
        <i class="left-new bundle-arrow"></i>
        <h6 class="gotham-bold see-more-left">SEE MORE</h6>
      </div>
    <div class="small-12 medium-12 large-12 columns ns-link-holder" id="ns-link-holder-seven">

      <div class="ns">
          <a href="/apps/productbuilder/bundle-4-archer-bianca"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/540330-130-archer-crib-74103-dresser-room_1024x1024_49b885a1-e83c-49af-be6f-76d1ba6ac83e_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Archer - Bianca</h6>
          <h6 class="ns-link gotham-book">$799.99</h6>
        </div>
      </div>
        <div class="ns">
          <a href="/apps/productbuilder/bundle-5-archer-dark-chocolate"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/540330-207-archer-crib-74103-dresser-room_1024x1024_9d9e7807-efda-42fd-958e-f66ce09e4cdd_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Archer - Dark Chocolate</h6>
          <h6 class="ns-link gotham-book">$799.99</h6>
        </div>
      </div>





      <div class="ns">
          <a href="/apps/productbuilder/bundle-35-ava-white"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/6801-100-Ava-3n1-crib-room-main_1024x1024_72ed82bf-f8ee-45f0-95bb-670a30b2aec3_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Ava - White</h6>
          <h6 class="ns-link gotham-book">$799.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-36-emery-white"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/7380-100-emery-4-in-1-crib-74103-100-70967-034-room-main_1024x1024_3ca3648c-9fbc-48bb-82e7-3b4bc315caad_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Emery - White</h6>
          <h6 class="ns-link gotham-book">$799.99</h6>
        </div>
      </div>


      <div class="ns">
          <a href="/apps/productbuilder/bundle-47-tribeca-white-with-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/6792-027-tribeca-crib-room-main_1024x1024_80d1a355-7cf8-4ada-847d-ce91bca804dc_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Tribeca - White with Grey</h6>
          <h6 class="ns-link gotham-book">$799.99</h6>
        </div>
      </div>

        <div class="ns">
          <a href="/apps/productbuilder/bundle-10-canton-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/7888-026-canton-crib-room_1024x1024_39d3f2ee-d519-4fab-85d9-a3937f86c5ad_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Canton - Grey</h6>
          <h6 class="ns-link gotham-book">$799.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-11-canton-bianca"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/7888-130-canton-crib-room_1024x1024_62b53585-9a48-47ad-8e67-e3c6485cced4_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Canton - Bianca</h6>
          <h6 class="ns-link gotham-book">$799.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-38-emery-dark-chocolate"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/7380-207-emery-4-in-1-room-main_1024x1024_15d35c4b-2d6e-4368-a8f5-a37c59a49178_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Emery - Dark Chocolate</h6>
          <h6 class="ns-link gotham-book">$799.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-6-archer-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/540330-026-archer-crib-74103-dresser-room_1024x1024_df96e87a-dd68-49f4-b4a4-7259ef198567_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Archer - Grey</h6>
          <h6 class="ns-link gotham-book">$799.99</h6>
        </div>
      </div>

      <div class="ns">
        <a href="/apps/productbuilder/bundle-37-emery-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/7380-026-emery-4-in-1-crib-74103-026-70967-034-room-main_1024x1024_71764a5b-e4e6-49a0-aa82-64cdb5b6f503_1x1.jpg"></a>
      <div class="ns-img-text">
        <h6 class="ns-title ultra">Emery - Grey</h6>
        <h6 class="ns-link gotham-book">$799.99</h6>
      </div>
    </div>



<!--       <div class="ns">
          <a href="/apps/productbuilder/bundle-31-bellevue-bianca-with-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/541130-166-Bellevue-3-in-1-crib-303030-108-6-dr-dresser-530451-166-room-main_1024x1024_9c19162f-72e6-487b-a694-fe4392d0cfd9_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Bellevue - Bianca with Grey</h6>
          <h6 class="ns-link gotham-book">$799.99</h6>
        </div>
      </div> -->

<!--       <div class="ns">
          <a href="/apps/productbuilder/bundle-32-bellevue-bianca-with-ebony"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/541130-149-Bellevue-3-in-1-crib-303030-108-6-dr-dresser-530451-166-room-main_1024x1024_5699c784-e796-4e3c-8a60-e46ebaebae1e_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Bellevue - Bianca with Ebony</h6>
          <h6 class="ns-link gotham-book">$799.99</h6>
        </div>
      </div> -->






    </div>

  </div>

  <!-- $899 Banner row -->
  <div class="row" id="eight-banner-container">
    <div class="small-12 medium-12 large-12 columns">
      <div class="banner-holder"><h2 class="ns-banner-text">Browse $899 Nursery Sets</h2><img class="ns-banner" src="https://cdn.shopify.com/s/files/1/0578/7201/files/banner-light-blue-04.png?18044340441732841384"></div>
    </div>
  </div>

  <!-- 899 image-link row -->
  <div class="row" id="eight-img-link-container">
    <div class="arrow-container-right">
      <h6 class="gotham-bold see-more-right">SEE MORE</h6>
      <i class="right-new bundle-arrow"></i>
    </div>

    <div class="arrow-container-left">
        <i class="left-new bundle-arrow"></i>
        <h6 class="gotham-bold see-more-left">SEE MORE</h6>
      </div>
    <div class="small-12 medium-12 large-12 columns ns-link-holder" id="ns-link-holder-eight">

      <div class="ns">
          <a href="/apps/productbuilder/bundle-1-mid-century-modern-lifestyle-bianca"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/707250-130-crib-707030-130-dresser-room_1024x1024_56f5b94b-98eb-4c77-8268-0c84d191015a_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Mid Century Modern Lifestyle - Bianca</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-2-mid-century-modern-lifestyle-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/707250-026-crib-707030-026-dresser-room-shot_1024x1024_7ad413d8-42a5-4aa7-a490-8bd1d2fdf20d_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Mid Century Modern Lifestyle - Grey</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-7-ashland-bianca"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/704330-130-serta-ashland-4-in-1-crib-702040-100-pinecrest-dresser-702180-100-bookcase-room_1024x1024_ea73b1fd-017f-4881-8c51-34d3841e6f1d_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Ashland - Bianca</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-8-ashland-dark-chocolate"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/704330-207-serta-ashland-4-in-1-crib-dark-chocolate-props-roomshot_1024x1024_3af1fb62-b436-41a8-9aab-946d2c507607_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Ashland - Dark Chocolate</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-9-ashland-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/704330-026-serta-ashland-4-in-1-crib-702040-026-pinecrest-dresser-702180-026-bookcase-props-room_1024x1024_f0a29191-679b-4320-bab4-5716c2fcfbb1_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Ashland - Grey</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-15-fremont-bianca-with-aqua"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/706130-134-fremont-room_1024x1024_3c7b4dbb-4d09-46fa-bda9-f6c8296a7feb_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Fremont - Bianca with Aqua</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-17-fremont-bianca-with-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/706130-166-fremont-room_1024x1024_de0b8f44-6466-42b5-99fa-c8f33d1e1d06_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Fremont - Bianca with Grey</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-18-new-haven-aqua"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/549150-347-new-haven-4in1-crib-room_1024x1024_a6b47c1a-cf95-4791-b0b0-108afe8ea808_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">New Haven - Aqua</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>



      <div class="ns">
          <a href="/apps/productbuilder/bundle-22-new-haven-bianca"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/549150-130-new-haven-4-1-crib-roomshot_1024x1024_569173a5-0a44-4c0a-ad8f-8f4e9ae50466_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">New Haven - Bianca</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>

       <div class="ns">
          <a href="/apps/productbuilder/bundle-3-mid-century-modern-lifestyle-walnut-espre"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/707250-1324-crib-707030-1324-dresser-roomshot_1024x1024_5af1ecb2-58f6-4bd4-9f18-fdabcf0efec7_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Mid Century Modern Lifestyle - Walnut</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-21-new-haven-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/549150-026-new-haven-4in1-crib-room_1024x1024_39898f85-522d-47d2-84d7-5079c90eb539_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">New Haven - Grey</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-20-new-haven-charcoal"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/549150-029-new-haven-4in1-crib-room_1024x1024_dbdecf8e-69d1-41e4-9128-eecde5c5d888_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">New Haven - Charcoal</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-19-new-haven-ebony"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/549150-0011-new-haven-4in1-crib-room_1024x1024_552157df-37aa-496a-a01c-1ca676af68e1_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">New Haven - Ebony</h6>
          <h6 class="ns-link gotham-book">$899.99</h6>
        </div>
      </div>

    </div>
  </div>

  <!-- $999 Banner row -->
  <div class="row" id="nine-banner-container">
    <div class="small-12 medium-12 large-12 columns">
      <div class="banner-holder"><h2 class="ns-banner-text">Browse $999 Nursery Sets</h2><img class="ns-banner" src="https://cdn.shopify.com/s/files/1/0578/7201/files/banner-light-blue-04.png?18044340441732841384"></div>
    </div>
  </div>

  <!-- 999 image-link row -->
  <div class="row" id="nine-img-link-container">
    <div class="arrow-container-right">
      <h6 class="gotham-bold see-more-right">SEE MORE</h6>
      <i class="right-new bundle-arrow"></i>
    </div>

    <div class="arrow-container-left">
        <i class="left-new bundle-arrow"></i>
        <h6 class="gotham-bold see-more-left">SEE MORE</h6>
      </div>
    <div class="small-12 medium-12 large-12 columns ns-link-holder">

      <div class="ns">
          <a href="/apps/productbuilder/bundle-12-fall-river-bianca"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/704310-130-serta-fall-river-4-in-1-crib-702040-130-pinecrest-dresser-topper-702180-130-happy-home-bookcase-props-room_1024x1024_fe5e07fb-06a2-45cb-8aa5-26656a8f7da8_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Fall River - Bianca</h6>
          <h6 class="ns-link gotham-book">$999.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-13-fall-river-dark-chocolate"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/704310-207-serta-fall-river-4-in-1-crib-dark-chocolate-room-props_1024x1024_a0dda1e7-2089-434c-97e2-6747f6ae17f4_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Fall River - Dark Chocolate</h6>
          <h6 class="ns-link gotham-book">$999.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-14-fall-river-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/704310-026-serta-fall-river-4-in-1-crib-props-room_1024x1024_6b32b6c4-bee1-46c5-a1aa-89f3dfc4ba61_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Fall River - Grey</h6>
          <h6 class="ns-link gotham-book">$999.99</h6>
        </div>
      </div>



      <div class="ns">
          <a href="/apps/productbuilder/bundle-34-aster-bianca-with-ebony"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/541630-149-aster-3-in-1-crib-303030-108-6-dr-dresser-530451-166-room-main_1024x1024_c2d36de8-1677-4be9-b46f-e0767809fe49_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Aster - Bianca with Ebony</h6>
          <h6 class="ns-link gotham-book">$999.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-39-barrett-bianca"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/704320-130-serta-barrett-4-in-1-crib-702040-130-pinecrest-dresser-702180-130-happy-home-bookcase-props-room-main_1024x1024_d5bf2039-d6b5-4ecd-853e-66b21eaaa682_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Barrett - Bianca</h6>
          <h6 class="ns-link gotham-book">$999.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-40-barrett-dark-chocolate"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/704320-207-serta-barrett-4-in-1-crib-dark-chocolate-room-main_1024x1024_44adf4a1-822f-4b22-9930-3c504673d541_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Barrett - Dark Chocolate</h6>
          <h6 class="ns-link gotham-book">$999.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-41-barrett-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/704320-026-serta-barrett-4-in-1-crib-704310-026-serta-fall-river-4-in-1-crib-702040-026-pinecrest-dresser-props-room-main_1024x1024_beddb627-b3f6-421e-9d61-88f50cefa0a6_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Barrett - Grey</h6>
          <h6 class="ns-link gotham-book">$999.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-42-banbury-bianca"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/702350-130-serta-banbury-4-in-1-crib-bianca-702040-100-pinecrest-dresser-room-main_1024x1024_90b1cc2d-979b-48b0-b2f5-d0147e71b934_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Banbury - Bianca</h6>
          <h6 class="ns-link gotham-book">$999.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-33-aster-bianca-with-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/541630-166-aster-3-in-1-crib-303030-108-6-dr-dresser-530451-166-room-main_1024x1024_7da44864-bdef-40ce-b6d8-d8fa892ee558_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Aster - Bianca with Grey</h6>
          <h6 class="ns-link gotham-book">$999.99</h6>
        </div>
      </div>

<!--       <div class="ns">
          <a href="/apps/productbuilder/bundle-43-banbury-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/702350-026-serta-banbury-4-in-1-crib-grey-702040-026-pinecrest-dresser-room-main_1024x1024_6a894720-9a5d-4133-8edd-a2fb8a7a6636_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Banbury - Grey</h6>
          <h6 class="ns-link gotham-book">$999.99</h6>
        </div>
      </div> -->



    </div>
  </div>
  <!-- $1599+ Banner row -->
  <div class="row" id="fifteen-banner-container">
    <div class="small-12 medium-12 large-12 columns">
      <div class="banner-holder"><h2 class="ns-banner-text">Browse $1,599+ Nursery Sets</h2><img class="ns-banner" src="https://cdn.shopify.com/s/files/1/0578/7201/files/banner-light-blue-04.png?18044340441732841384"><div id="sale-tab"><span class="gotham-black">SALE</span><img src="//cdn.shopify.com/s/files/1/0578/7201/files/sales-button.png"></div></div>
    </div>
  </div>

  <!-- 1599+ image-link row -->
  <div class="row" id="fifteen-img-link-container">
    <div class="arrow-container-right">
      <h6 class="gotham-bold see-more-right">SEE MORE</h6>
      <i class="right-new bundle-arrow"></i>
    </div>

    <div class="arrow-container-left">
        <i class="left-new bundle-arrow"></i>
        <h6 class="gotham-bold see-more-left">SEE MORE</h6>
      </div>

    <div class="small-12 medium-12 large-12 columns ns-link-holder">

          <div class="ns">
          <a href="/apps/productbuilder/bundle-29-tivoli-antique-white"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/329150-122-Tivoli-4-in-1-crib-room-props_1024x1024_9132a48c-61bb-47d9-b57d-07afd689e6e0_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Tivoli - Antique White</h6>
          <h6 class="ns-link gotham-book">$1,799.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,439.99</h6>
        </div>
      </div>

        <div class="ns">
          <a href="/apps/productbuilder/bundle-49-avery-charcoal-grey"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/708130-1323-charcoal-Avery-3in1-crib-room-main_copy_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Avery - Charcoal</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>
        <div class="ns">
          <a href="/apps/productbuilder/bundle-48-avery-bianca-white"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/708130-1321-bianca-Avery-3in1-crib-room-main_1_copy_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Avery - Bianca</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

<!--       <div class="ns">
          <a href="/apps/productbuilder/bundle-45-langley-rustic-whitewash"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/703150-112-serta-langley-4-in-1-crib-rustic-white-wash-room-main_1024x1024_330e3d4f-2494-4697-a4ea-c1e6fb5d6aab_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Langley - Rustic Whitewash</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-46-langley-rustic-oak"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/703150-703070-700710-229-serta-langley-4-in-1-crib-rustic-chestnut-room-main_1024x1024_e05e0ab0-301b-4309-8495-f7c799925da2_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Langley - Rustic Oak</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div> -->



<!--          <div class="ns">
          <a href="/apps/productbuilder/bundle-25-peyton-bianca"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/333150-130-peyton-room-props_1024x1024_a11546de-be6b-407f-a8a5-3928c42d15af_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Peyton - Bianca</h6>
          <h6 class="ns-link gotham-book">$1,799.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,439.99</h6>
        </div>
      </div>
 -->
<!--       <div class="ns">
          <a href="/apps/productbuilder/bundle-26-peyton-ebony"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/333150-0011-peyton-crib-room-props_1024x1024_07ef238f-c151-44ef-b237-a0fbc259e88c_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Peyton - Ebony</h6>
          <h6 class="ns-link gotham-book">$1,799.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,439.99</h6>
        </div>
      </div> -->

      <div class="ns">
          <a href="/apps/productbuilder/bundle-27-ravello-antique-white"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/332150-122-Ravello-room_1024x1024_87c5537f-5cc1-43dc-a8e0-b4a333ee8292_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Ravello - Antique White</h6>
          <h6 class="ns-link gotham-book">$1,799.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,439.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-30-tivoli-antique-chestnut"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/329150-2100-tivoli-4-in-1-room_1024x1024_786c4ea4-d5f2-4e05-9640-2edba525ce82_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Tivoli - Antique Chestnut</h6>
          <h6 class="ns-link gotham-book">$1,799.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,439.99</h6>
        </div>
      </div>


        <div class="ns">
          <a href="/apps/productbuilder/bundle-50-ainsworth-antique-white"><img class="ns-img" src="https://cdn.shopify.com/s/files/1/0578/7201/files/W337250-122-ainsworth-4in1-crib-room-main_grande_f04968e4-cf8b-45ef-9282-bc45926cfac8.jpg?8617208211585323607_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Ainsworth - Antique White</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

        <div class="ns">
          <a href="/apps/productbuilder/bundle-51-ainsworth-storm"><img class="ns-img" src="https://cdn.shopify.com/s/files/1/0578/7201/files/W337250-161-ainsworth-crib-room-main_4.jpg?17638738587026599325_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Ainsworth - Storm</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

        <div class="ns">
          <a href="/apps/productbuilder/bundle-53-bedford-antique-white"><img class="ns-img" src="https://cdn.shopify.com/s/files/1/0578/7201/files/W337150-122-bedford-crib-W337060-122-6drw-dresser-room-main_grande_2c003062-f25e-4319-ab77-d68b9fdd330a.jpg?13082360606738404764_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Bedford - Antique White</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

        <div class="ns">
          <a href="/apps/productbuilder/bundle-54-bedford-storm"><img class="ns-img" src="https://cdn.shopify.com/s/files/1/0578/7201/files/W337150-161-Bedford-crib-room-main_5.jpg?17638738587026599325_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Bedford - Storm</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

       <div class="ns">
          <a href="/apps/productbuilder/bundle-56-fontana-antique-white"><img class="ns-img" src="https://cdn.shopify.com/s/files/1/0578/7201/files/W337350-122-Fontana-crib-room-main_grande_af897faf-8d9e-49a6-903a-75e3b4d01556.jpg?4089392809580376992_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Fontana - Antique White</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

       <div class="ns">
          <a href="/apps/productbuilder/bundle-57-fontana-storm"><img class="ns-img" src="https://cdn.shopify.com/s/files/1/0578/7201/files/W337350-161-Fontana-crib-room-main_3.jpg?17638738587026599325_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Fontana - Storm</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

       <div class="ns">
          <a href="/apps/productbuilder/bundle-59-franklin-antique-white"><img class="ns-img" src="https://cdn.shopify.com/s/files/1/0578/7201/files/W337650-122-Franklin-4-in-1-room-main_grande_3ea8616d-e9b6-449c-bc90-18ffa4e4251b.jpg?7595375415131683821_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Franklin - Antique White</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

       <div class="ns">
          <a href="/apps/productbuilder/bundle-60-franklin-storm"><img class="ns-img" src="https://cdn.shopify.com/s/files/1/0578/7201/files/W337650-161-franklin-crib-room-main_3.jpg?17638738587026599325_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Franklin - Storm</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>


      <div class="ns">
          <a href="/apps/productbuilder/bundle-62-aden-antique-white"><img class="ns-img" src="https://cdn.shopify.com/s/files/1/0578/7201/files/W337550-122-aden-4in1-crib-room-main_grande_9033160b-5f6b-421c-bff5-3865353d68bd.jpg?12137441107214186546_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Aden - Antique White</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-63-aden-storm"><img class="ns-img" src="https://cdn.shopify.com/s/files/1/0578/7201/files/W337550-161-aden_crib-room-main_2.jpg?17638738587026599325_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Aden - Storm</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-65-bristol-antique-white"><img class="ns-img" src="https://cdn.shopify.com/s/files/1/0578/7201/files/W337450-122-bristol-crib-room-main_grande_158a577f-ccfe-46ba-985d-200e61d794a1.jpg?12137441107214186546_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Bristol - Antique White</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-66-bristol-storm"><img class="ns-img" src="https://cdn.shopify.com/s/files/1/0578/7201/files/W337450-161-bristol-room-main_4.jpg?17638738587026599325_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Bristol - Storm</h6>
          <h6 class="ns-link gotham-book">$1,599.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,279.99</h6>
        </div>
      </div>

      <div class="ns">
        <a href="/apps/productbuilder/bundle-28-ravello-storm"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/332150-161-Ravello-room_1024x1024_efa59492-10d8-457f-85e0-3a4efb9662d4_1x1.jpg"></a>
      <div class="ns-img-text">
        <h6 class="ns-title ultra">Ravello - Storm</h6>
        <h6 class="ns-link gotham-book">$1,799.99</h6>
        <h6 class="ns-link sale-ns-link gotham-book">$1,439.99</h6>
      </div>
    </div>



<!--       <div class="ns">
          <a href="/apps/productbuilder/bundle-23-oakmont-rustic-bianca"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/331150-170-oakmont-4-1-crib-room-props_1024x1024_f1c115d7-ff97-4de2-8d3d-c0bee8e55fe8_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Oakmont - Rustic Bianca</h6>
          <h6 class="ns-link gotham-book">$1,799.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,439.99</h6>
        </div>
      </div>

      <div class="ns">
          <a href="/apps/productbuilder/bundle-24-oakmont-rustic-haze"><img class="ns-img" src="//cdn.shopify.com/s/files/1/0578/7201/files/331150-940-oakmont-4-in-1-crib-roomshot_1024x1024_c8d5e7a9-d5f3-4ad2-a36b-ff68a0a77a19_1x1.jpg"></a>
        <div class="ns-img-text">
          <h6 class="ns-title ultra">Oakmont - Rustic Haze</h6>
          <h6 class="ns-link gotham-book">$1,799.99</h6>
          <h6 class="ns-link sale-ns-link gotham-book">$1,439.99</h6>
        </div>
      </div> -->

    </div>
  </div>
<!-- end furniture-set-container -->
</div>

{{ 'slick.min.js' | asset_url | script_tag }}
<script>
// IIFE - Immediately Invoked Function Expression
(function(yourcode) {

    // The global jQuery object is passed as a parameter
  	yourcode(window.jQuery, window, document);

  }(function($, window, document) {

    // The $ is now locally scoped

   // Listen for the jQuery ready event on the document
   $(function() {
     if ( $(window).width() > 667) {
    $(".ns-hero-image.desktop").each(function(){
      $(this).attr('src', $(this).attr('src').replace('_1x1.jpg', '.jpg'));
      $(this).attr('src', $(this).attr('src').replace('_1x1.png', '.png'));
    });
    }
    if ( $(window).width() < 667) {
   $(".ns-hero-image.mobile").each(function(){
     $(this).attr('src', $(this).attr('src').replace('_1x1.jpg', '_large.jpg'));
     $(this).attr('src', $(this).attr('src').replace('_1x1.png', '_large.png'));
   });
   }

     $("img.ns-img").each(function(){
       $(this).attr('src', $(this).attr('src').replace('_1x1.jpg', '_large.jpg'));
       $(this).attr('src', $(this).attr('src').replace('_1x1.png', '_large.png'));
     });

     //slick-intializer function
     if ( $(window).width() > 667) {
       $('.ns-link-holder').slick({
       infinite: true,
       speed: 1000,
       slidesToShow: 4,
       slidesToScroll: 4
       });
     }
     if ( $(window).width() < 667) {
       $('.ns-link-holder').slick({
       infinite: true,
       speed: 1000,
       slidesToShow: 2,
       slidesToScroll: 2
       });
     }

     //click events to use arrow images for slick
     $('.arrow-container-right').click(function(){
     //clicks the hidden slick button
     $(this).nextAll('.slick-slider').children('.slick-next').click();
     });

     $('.arrow-container-left').click(function(){
     //clicks the hidden slick button
     $(this).nextAll('.slick-slider').children('.slick-prev').click();
     });

     discountForm();
     function discountForm(){
       //for moving header "20$ off tag" and "Paypal Credit" tab
      if ($(window).width() > 667) {
        $('#twenty-off').appendTo('#site-header');
        $('#paypal-credit-tab').appendTo('#site-header');
      }
      else{
       $('#twenty-off').appendTo('#site-header-mobile');
       $('#paypal-credit-tab').appendTo('#site-header-mobile');

      }
      $('#bundle-overlay').appendTo('body');
      $('#twenty-off-form').appendTo('body');

      //slide functionality of perform
      $('#twenty-off span#click').click(function () {
        $('#bundle-overlay').css('display', 'block');
        $('#twenty-off-form').css('display', 'block').removeClass('slideOutLeft').addClass('animated slideInLeft');
        $('#bundle-overlay').click(function(){
          $('#twenty-off-form').removeClass('slideInLeft').addClass('slideOutLeft');
          $('#bundle-overlay').hide();
          $('#twenty-off-form').css('display', 'none');
        });

      });
    };

    learnMorePop();

    function learnMorePop(){
      // functionality for learn more pop-up
      $('#learn-pop').click(function(){
        $('#ns-pop-up').appendTo('body');
        $('#ns-pop-up').css('display', 'block');
        $('#ns-close-pop-up').click(function(){
          $('#ns-pop-up').css('display', 'none');
        });
      });
    }

   })
 })
);

</script>
